[2015-10-02 01:52] indraastra opened #1 "Android support?"
Hi @pusherman, I was just wondering if you had any plans to implement Android support for this library. If not, would you mind if I took a crack at it and submitted a PR to avoid spawning a whole new library?

I've tested this out on iOS and it works perfectly by the way, so thanks!

[2015-10-02 02:04] pusherman commented on #1
I would love a PR for Android support.  I currently do not have an Android phone to test things on so I do not have any plans on supporting it currently but would absolutely merge support in.

[2015-10-02 02:05] indraastra commented on #1
Awesome, I'll start work on it tomorrow and keep you posted. It will likely require reorganizing the code into ios/ and android/ directories. I'm using this as reference:

https://github.com/tradle/react-native-udp

[2015-10-02 02:08] pusherman commented on #1
Sounds great!  Good luck!

[2015-10-02 23:02] indraastra commented on #1
Superseded by https://github.com/pusherman/react-native-network-info/pull/2, closing.

[2015-10-02 23:02] #1 closed

[2015-10-31 21:56] keeth opened #3 "Add podspec"
Would be handy for CocoaPods users, thanks!

[2015-11-21 17:32] pusherman commented on #3
Thanks for the PR!

[2015-11-21 17:32] #3 closed

[2015-12-29 13:58] mckn opened #5 "Problems getting SSID to work in Simulator"
Hello,

I have problems getting SSID when I'm running the XCode iOS simulator. I am running it as a iphone 6S with iOS 9.2. No interfaces is found and 'error' is returned. Should it be able to work in the simulator or what can I have made wrong? I can get the IP without any problems.

thanks!

[2015-12-29 16:16] pusherman commented on #5
It actually will not work in the simulator.  The simulator doesn't support interfaces unfortunately.  It should work fine when running on the device though.

[2015-12-29 16:16] #5 closed

[2015-12-30 09:43] mckn commented on #5
Ah, okay! Then I know why it didnt work in the simulator.

[2016-10-04 14:47] rclai opened #9 "Add support for scanning local area network"
Right now it only gives you the device's IP address, however, it would be nice to get a list of the IP addresses/names in the local area network the same way [this project](https://github.com/mongizaidi/LAN-Scan) does.

[2017-01-30 16:07] MattyK14 commented on #5
Is there any code to prevent the crash on simulators but that it still runs on a real device?

[2017-01-30 16:09] pusherman commented on #5
does it crash the simulator or is it just not working in the simulator?

[2017-01-30 16:12] MattyK14 commented on #5
It crashes the Android & iOS simulators. I've avoided it with a try and catch.

[2017-01-30 21:44] pusherman commented on #9
sorry, but as of now, scanning the local network is beyond the scope of this project

[2017-01-30 21:44] #9 closed

[2017-02-07 06:25] sunny20131314 opened #12 "ios run error in the simulator"
Hello！

<React/RCTBridge.h> is not found.

node_modules/react-native-network-info/ios/RNNetworkInfo.h:10:9: fatal error: 'React/RCTBridge.h' file not found
#import <React/RCTBridge.h>
        ^
1 error generated.

    "react": "^15.4.1",
    "react-native": "^0.39.2",
    "react-native-network-info": "^1.0.0"

[2017-02-07 15:38] pusherman commented on #12
The 1.0 release requires react-native .40 or above.  Can you try to update your react-native and see if the problem persist?

Alternatively you can downgrade reactive-native-network-info to 0.2.0

[2017-02-07 16:11] jbrodriguez opened #13 "Add ping and wake features"
Are you interested in adding ping and wake functions ?

I'm guessing you're not, since the library is named network-info, but maybe create a network-ops library or similar ?

[2017-02-07 19:15] pusherman commented on #13
yeah, the focus of this library is mainly for providing information about the network but I think a network ops library would be nice

[2017-02-07 19:15] #13 closed

[2017-02-08 01:44] sunny20131314 commented on #12
thanks!
it's works when i downgrade reactive-native-network-info to 0.2.0~~~

[2017-02-08 01:44] #12 closed

[2017-03-01 12:31] sibelius opened #14 "Broken link"
404 on https://eastcodes.com/packaging-and-sharing-react-native-modules

[2017-03-01 12:47] sibelius opened #15 "Detect IP changes"
Can I check whether the IP has changed?

[2017-03-01 14:46] pusherman commented on #14
thanks, should be back up now.

[2017-03-01 14:46] #14 closed

[2017-03-06 20:56] sibelius opened #16 "this is an error happening on android when making a release"
Error: The WIFI_SERVICE must be looked up on the Application context or memory will leak on devices < Android N. Try changing reactContext to reactContext.getApplicationContext()  [WifiManagerLeak]
    wifi = (WifiManager)reactContext.getSystemService(Context.WIFI_SERVICE);
[code]

[2017-03-11 03:51] pusherman commented on #16
@indraastra is there anyway you can test this suggested change out?  I don't have an android device around to test.

[2017-03-11 13:04] sibelius commented on #16
try to run in the emulator

[2017-03-14 14:46] jose920405 opened #17 "Error Installing library"
`****/node_modules/react-native-network-info/ios/RNNetworkInfo.h:10:9: 'React/RCTBridge.h' file not found`

This is my config.

![screen shot 2017-03-14 at 9 45 04 am](https://cloud.githubusercontent.com/assets/12536184/23906096/0a76963e-089b-11e7-876a-57d5b4be9265.png)
-------
![screen shot 2017-03-14 at 9 45 29 am](https://cloud.githubusercontent.com/assets/12536184/23906101/0bbadaa0-089b-11e7-9

[2017-03-14 18:28] pusherman commented on #17
The 1.0 release requires react-native .40 or above. Can you try to update your react-native and see if the problem persist?

Alternatively you can downgrade reactive-native-network-info to 0.2.0

[2017-03-24 17:05] jagi opened #18 "Android installation"
Hi, in docs it says that I have to modify the `MainActivity.java` file. But mine looks a little bit different:

[code]

So how can I install it?

I'm using ReactNative 0.41

[2017-03-24 17:52] MattyK14 commented on #18
Hey, just solved this issue myself.

Add the following to your `MainApplication.java`

`import com.pusherman.networkinfo.RNNetworkInfoPackage;`

[code]

[2017-03-24 17:59] jagi commented on #18
OK thank! I will try that

[2017-03-24 18:11] pusherman commented on #18
thanks @MattyK14

@jagi let me know if it works.  I'm working on updating the documentation now for the current versions of reactive native and android studio.

[2017-03-24 20:05] pusherman commented on #16
@sibelius I was able to reproduce this in the emulator.  I made the suggested change and the error went away.  The problem is-- the IP and SSID are not shown in the emulator ever so I don't have a device that I can test things on to make sure everything is still working.

If I make the change and push it up to a different branch would you mind testing it out on an actual device for me?

[2017-03-24 20:07] sibelius commented on #16
I could test for sure

[2017-03-24 20:19] pusherman commented on #16
just pushed a fix to a new branch
https://github.com/pusherman/react-native-network-info/tree/bug/android_memory_leak

Thanks for testing!

[2017-03-24 20:25] sibelius commented on #16
could you open the pull request?

[2017-03-24 20:35] pusherman commented on #16
There you go

[2017-03-26 02:12] pusherman commented on #17
I'll assume this is resolved by upgrading react native. Let me know if not.

[2017-03-26 02:12] #17 closed

[2017-03-27 22:16] mgscreativa opened #20 "ip = "error""
Hi! I can't get the current device IP on iOS simulator. I'm getting IP = error.

I'm currently tehtering the phone internet connection to my mac because I'm having issues with my broadband provider, maybe that's the issue.

Just let me know if I can test something.

Thanks!

[2017-03-28 12:54] pusherman commented on #20
Unfortunately the simulator does not provide the IP address.  You'll only be able to get it on the actual device.

[2017-03-28 12:54] #20 closed

[2017-03-30 16:54] DylanVann opened #21 "Should not log with NSLog."
If it must log it should be something that can be enabled, not
on by default.

[2017-03-30 17:04] DylanVann commented on #21
https://github.com/pusherman/react-native-network-info/pull/22

[2017-03-30 17:11] #21 closed

[2017-03-30 17:32] pusherman commented on #16
@sibelius were you ever able to test this out?

[2017-03-30 18:23] jagi commented on #18
@MattyK14 @pusherman yes it works. Thanks!

[2017-03-30 18:24] #18 closed

[2017-04-07 13:50] #16 closed

[2017-04-07 14:18] sibelius commented on #16
sorry for not testing, I had a lot of work to finish here in my startup

[2017-04-07 14:18] #15 closed

[2017-04-07 14:23] pusherman commented on #15
this library does not provide a way to give a callback to do something when an IP has changed.  I would recommend setting a timeout and check for an IP change manually.

[2017-04-07 14:23] pusherman commented on #16
No worries, I found an android device to test on myself.  Let me know if you find any problems with the new release!

[2017-04-10 17:59] hugows opened #25 "Blog missing"
The blog post linked in the end of README doesn't exist anymore:

http://eastcodes.com/packaging-and-sharing-react-native-modules

[2017-04-10 18:57] #25 closed

[2017-04-28 00:04] L3V147H4N opened #26 "More Features"
do you have any future plans regarding this package?
Maybe getBSSID (endpoint) for ex?
I suggest BSSID because is usually very useful when working in some environment where there are lots of endpoints but all have the same SSID

[2017-04-28 02:51] pusherman commented on #26
That's a great idea. I'll look in to it.  Feel free to offer a PR if you have code handy.

Thanks for the suggestion!

[2017-04-28 19:59] pusherman commented on #26
@L3V147H4N - I have just pushed up code that allows you to get the BSSID in both iOS and Android.  I've tested it on iOS but, unfortunately, I do not have an Android device to test it on (the SSID and BSSID feature does not work on the simulator).

Could you give it a test on whatever OS you are working on when you have a moment?  I haven't tagged the feature in a release yet so you'll have to pul

[2017-04-28 20:17] L3V147H4N commented on #26
Sure, I'm working with this package today so I'll give it a test 👍

[2017-04-28 20:36] L3V147H4N commented on #26
Just tested with latest RN (0.43.4) in my Xperia Z3+ with android 7.0 and it works :3 ready to publish to npm :) 👍

[2017-04-28 20:36] L3V147H4N commented on #26
once is one npm you can close this issue, many thanks for the quick reply and codding :)

[2017-04-29 04:19] pusherman commented on #26
npm updated, thanks again for the suggestion!

[2017-04-29 04:19] #26 closed

[2017-05-11 20:38] jbrodriguez opened #27 "Don't switch to import"
Please don't do a92b6e4fc530c071496523e4d725ed3de27944bd.

Even if you pre-'babelify' before pushing to npm, it will cause trouble for forks that need to npm/yarn install/add directly from github.

[2017-05-12 15:03] pusherman commented on #27
Not sure what you mean.  React Native ships with Babel and ES6 modules are an [enabled transformation](https://facebook.github.io/react-native/docs/javascript-environment.html#javascript-syntax-transformers).

Also, the React Native docs recommend using ES6 modules in [their examples](https://facebook.github.io/react-native/docs/native-modules-ios.html).

[2017-05-12 15:41] jbrodriguez commented on #27
You're right.

I had the issue when running ava tests and importing my fork of the library.

I had to replace the import with a require, since ava didn't recognize the es6 features.

I'll make some other checks to look for a workaround.

[2017-05-12 15:41] #27 closed

[2017-06-21 15:36] MattyK14 opened #29 "TypeError: _reactNativeNetworkInfo2.default.getSSID is not a function"
Using the `getSSID()` I'm getting the error:
`TypeError: _reactNativeNetworkInfo2.default.getSSID is not a function`

Running on `react-native-network-info 2.2.0` & `react-native 0.45.1`.
Rolling back to `react-native-network-info 1.0.0` & `react-native 0.45.1` works fine.

Also worth noting, I only tested version 2.2.0 on iOS.

[2017-06-22 13:18] pusherman commented on #29
Can I look at your code or can you set up a repo that can reproduce the problem?

[2017-06-22 13:26] MattyK14 commented on #29
[code]

[2017-06-22 13:27] pusherman commented on #29
Can you paste the entire file?  Or at least the imports at the beginning.

[2017-06-22 13:29] MattyK14 commented on #29
[code]

[2017-06-22 13:35] #29 closed

[2017-06-22 13:36] pusherman commented on #29
Post version 1.0.0 we switched to named exports.

`import NetworkInfo from 'react-native-network-info';`

should be

`import { NetworkInfo } from 'react-native-network-info';`

[2017-08-04 08:42] kaikyle7997 opened #30 "getSSID() and getBSSID() seem not work"
Hello,
First, appreciate that you put the contribution to the RN-related network development.

I am now attempting to experiment this package in my project but it seems I occurred non-expected results when using them, i.e., getSSID() and getBSSID(). Both Android and iOS simulators I run on always give me error message. Is there any version requirements like for RN or others? Please help me let it

[2017-08-05 10:20] kaikyle7997 commented on #30
Oh. I found this issue https://github.com/pusherman/react-native-network-info/issues/5, try it on later, thank you so much. :)

[2017-08-05 10:20] #30 closed

[2017-08-05 14:59] pusherman commented on #30
Awesome. Let me know if you have problems on the device.

[2017-09-21 14:57] manuTro opened #33 "getSSID not working on IOS device (real)"
Hi,
I cannot detect SSID name on the real Iphone.
I've this error

No problem by using an android device.

 IOS 10.3.2
"react": "^16.0.0-alpha.6",
 "react-native": "^0.44.0"
"react-native-network-info": "^2.0.0"

[2017-09-25 14:10] pusherman commented on #33
I'm traveling but will check it out when I return home next week.  In the mean time, have you tried with the latest version of the library 3.0?

[2017-09-25 14:17] manuTro commented on #33
I cannot try because I'm using react-native 0.44.0 and now I cannot upgrade because I'm writing in clojurescript (and I'm using another library that requires me to use react-native 0.44) ^^'
Let me know when you'll check :) thx

[2017-10-14 16:01] sircEUNHO opened #34 "NetworkInfo functions always return error on IOS"
I am using IOS 11.0 Simulator and XCODE 9.0.
My React Native version is `0.49.3`, react-native-network-info version is `3.0.0`.

This is my code  on my app:
[code]

what it show is:
![screen shot 2017-10-14 at 11 58 20 pm](https://user-images.githubusercontent.com/30286632/31577134-a1d197ec-b13b-11e7-9a64-a555f47b3b19.png)

How can i fix this? I installed it according to the docs and it doesn't ha

[2017-10-15 22:08] pusherman commented on #34
Unfortunately getting the SSID does not work in the iOS simulator.
 It should work on the real device though.  Please open a new issue if it doesn't.

https://github.com/pusherman/react-native-network-info/issues/5

[2017-10-15 22:08] #34 closed

[2017-10-23 17:27] stanleycyang opened #35 "Compilation fail due to RNNetworkInfoPackage is not abstract and does not override abstract method createJSModules() in ReactPackage"
react-native-network-info/android/src/main/java/com/pusherman/networkinfo/RNNetworkInfoPackage.java:14: error: RNNetworkInfoPackage is not abstract and does not override abstract method createJSModules() in ReactPackage
public final class RNNetworkInfoPackage implements ReactPackage {
             ^
1 error
:react-native-network-info:compileReleaseJavaWithJavac FAILED

[2017-10-25 14:53] DanielMSchmidt commented on #35
This error may occur if you use a RN version 0.46 or lower with version 3.X of this library. You need to switch to 2.X as stated in the Readme

[2017-10-25 15:08] #35 closed

[2017-11-01 21:28] mbarighzaai opened #36 "Data Usage"
I have a client requesting a feature to capture the iPhone data usage to display - can react-native-network-info help?

[2017-11-02 14:41] pusherman commented on #36
it can not, sorry

[2017-11-02 14:41] #36 closed

[2017-11-03 13:16] tseck opened #37 "Not working on iOS11"
Hi there,

has this ever been tested on iOS11?
On my (real) device it is not functioning.
I created a github repo:

https://github.com/tseck/network_info_ios11/

Are there any new Access Rights in iOS11 or did I just make a stupid mistake?

Regards

[2017-11-03 19:06] tseck commented on #37
just goes now, idunno why :)

[2017-11-03 19:06] #37 closed

[2017-11-04 10:10] seriiix commented on #33
I'm using react-native 0.49 and its not working for me as well

[2017-11-04 12:04] #33 closed

[2017-11-04 12:07] manuTro commented on #33
There is no fix for  react-native 0.44.0?

[2017-11-27 15:09] itsmrTech opened #38 "async/await feature"
Hi.
is there anyway to use await for getting network info? I can't use callback.

[2017-12-06 02:21] jamesjara commented on #38
Easy, just wrap it
[code]

[2017-12-10 23:14] sibelius opened #39 "IPv4 ios?"

[2017-12-15 13:49] cerqueirapt opened #40 "TypeError: undefined is not an object (evaluating 'RNNetworkInfo.getSSID')"
Hello!

I'm trying to use this library on an Android smartphone (not emulator) and I can't really get any information from it. I believe all the setup has been done right, so it should be working.

What happens is that when I try to use any `NetworkInfo` methods it always says:

[code]

I'm not sure what can be wrong with this... This is a clear installation with `create-react-native-app` and afte

[2017-12-26 21:53] maitham1 opened #41 "Can't get ip address for iOS 11.2"
I keep getting the following error when running the app I'm developing on the device:
TCP Conn 0x1c4572300 Failed : error 0:61 [61]

Hence when trying to get the IP address I keep receiving error! has anyone else experienced this?

[2018-01-02 03:34] Catpants commented on #40
What version of react native are you on? I am getting the same error and I am on react native v0.50.3. The latest supported version of this package is 0.47.

[2018-01-04 15:14] rajat-np opened #42 "[HELP REQUIRED] Method getIPAddress() gives the local IP address"
Method **getIPAddress()** gives the **local IP** address, how can I get the **external IP** address.

[2018-01-08 14:40] pusherman commented on #42
this library only provides the local ip (currently).  You will need to use some other method to get the external ip address.

[2018-01-08 14:40] #42 closed

[2018-01-08 14:42] pusherman commented on #40
@und0ck3d what version of the library and react native are you using?

[2018-01-08 14:43] pusherman commented on #39
can you provide a little more info?

[2018-01-08 18:44] rajat-np commented on #42
I managed to get the external IP using an API. Maybe I can create a PR with this added functionality i.e to get the external IP within this module.

[2018-01-08 19:20] pusherman commented on #42
sure, i'd love to check out a PR

[2018-01-17 04:51] acb opened #43 "NetworkInfo.getIPV4Address returns wrong IP address (Android)"
This is a weird one -- it works fine on a Nexus 6 I have that's running Android 6.0.1, but on my Pixel 2 running 8.1.0 NetworkInfo.getIPV4Address is returning the wrong IP address.

I'm using it as expected:

[code]

On my Pixel 2 the IP address this function is returning is 192.0.0.4, but when I go into my Wifi settings to check my real IP address is 192.168.0.100 (for example).

Any idea what co

[2018-01-17 14:09] pusherman commented on #43
That is odd.  Unfortunately I do not have a Pixel 2 to test.  Hopefully someone else out there can test and/or confirm?

[2018-01-17 16:14] acb commented on #43
Just tested it again on a different Wifi network (and after a reboot just in case) and I'm getting the same -- getIPV4Address is still returning 192.0.0.4 but when looking at my Wifi IP it's 10.1.30.76.  Maybe an error's happening somewhere deep and 192.0.04 is some sort of weird default?

I don't see anything in the source code that would make that happen but hopefully I'll have some time in the

[2018-01-17 16:17] pusherman commented on #43
Do both devices (Nexus and Pixel) both have the same mobile operator?  If so, is it T Mobile?

[2018-01-17 16:19] acb commented on #43
The Nexus 5 is deactivated (no cell network), I've just been running it on Wifi for testing.  The Pixel 2 is on Project Fi, which could be either T-Mobile or Sprint.

[2018-01-17 16:30] pusherman commented on #43
So our code will need to exclude that range when looping through the IP addresses to check.

[2018-01-17 16:35] acb commented on #43
Aha, you're a genius!  Thanks for finding that.

I also discovered that by turning off my mobile data it'll find my Wifi IP correctly, so I can use that as a workaround until the real fix is in.  Thanks for the help!

[2018-01-30 20:41] acb commented on #43
@pusherman do you have any idea when you might be able to address this?  It seems like it should be a pretty simple fix.  I'd make a PR myself but I'm not very familiar with native code or how to test changes to node modules I'm using.  Something that would probably take you 30 minutes would probably take me a couple days.

[2018-01-31 13:59] pusherman commented on #43
@acb i do not have an ETA.  I have been traveling for work a lot lately and my personal phone is an iPhone so I don't have an Android device to test with at the moment.  I will look in to it ASAP though.

[2018-02-01 19:15] Chatharaju opened #44 "Wifi List"
Hi there,
great work. Any chance this can be extended to get all wifi list and connect to specific wifi

Thanks,

Vinay.

[2018-02-06 11:09] sibelius commented on #39
why this

[code]

only works on android?

[2018-02-06 14:47] pusherman commented on #39
ah, i haven't looked in to checking for ipv4 directly in iOS yet.  That code was included as a PR by someone else and they only did the Android side for now.

[2018-02-23 11:45] yogeshmoradiya121 opened #46 "npm install can't finish it freeze. can't finish installation"

[2018-02-23 13:11] pusherman commented on #46
What version of npm?

[2018-03-06 20:23] acb commented on #39
@pusherman any plans to publish a new version on npm now that https://github.com/pusherman/react-native-network-info/pull/45 was merged?  Would be great to have `getIPV4Address` parity on Android and iOS.

[2018-03-06 20:35] pusherman commented on #39
@acb sure, I'll try to have it out by the end of the week.  I am working on a more comprehensive solution but I'll push out this change as is until I can get a bigger one in place.

[2018-03-06 21:31] pusherman commented on #39
@acb - i went ahead and did the release.  It seems to be on NPM but I keep getting a 504 on publish.  Seems as though npm is having issues and has been for a while https://github.com/npm/npm/issues/19871

I'll keep an eye on it.

[2018-03-06 21:31] #39 closed

[2018-03-07 15:42] acb commented on #39
@pusherman thanks! npm lists the latest version as 3.1.0 so it looks like it went through.  I'll give it a whirl later tonight!

[2018-03-07 15:46] pusherman commented on #46
This was likely a bug in NPM.  Closing.

[2018-03-07 15:46] #46 closed

[2018-03-12 10:06] rajat-np commented on #42
@pusherman , I think there is no need for the above PR since external IP can be made available by a simple GET to this [https://api.ipify.org/](url) .

[2018-03-12 10:07] rajat-np commented on #42
@pusherman , I think there is no need for the above PR since external IP can be made available by a simple GET to [https://api.ipify.org](url) .

[2018-03-12 16:13] pusherman commented on #42
@rajat-np yeah, i agree-- thanks!

[2018-03-13 09:42] solke opened #47 "cocopods suport?"

[2018-03-28 18:36] Chatharaju commented on #40
I have react-native version 50.4, and I have installed the library version 3.1.0. Still shows me the same error

[2018-03-28 18:51] pusherman commented on #40
Can you paste some of your code?  Specifically your import and when you are calling getSSID

[2018-03-28 18:53] Chatharaju commented on #40
Here you go:
import { NetworkInfo } from 'react-native-network-info';
componentWillMount () {
     this.getSSID();
  }
  getSSID() {
    NetworkInfo.getSSID(ssid => {
        this.setState({
         wifiSSID: ssid,
       });
     });
   }

[2018-03-28 18:59] pusherman commented on #40
Oh, sorry, I missed the part in your original post where it says you are using Expo.  Native modules won't work that way.

Set up a new project and run `react-native link` to link the library.

[2018-03-28 19:04] pusherman commented on #40
so it was-- well, that is his problem :)

Not sure about yours.  I have tested it with a native android device on 50.4 and it works okay.  Are you sure the library is linked?

[2018-04-03 21:07] pusherman commented on #40
@Chatharaju can you give it a shot with 3.2.0?  Make sure you do a fresh install on a new project and run `react-native link`

[2018-04-04 05:58] skylingfly opened #49 "Could not find com.android.tools.build:gradle:3.0.1."
in my project, it failed when you run react-native run-android;Could not find com.android.tools.build:gradle:3.0.1.

[2018-04-04 05:59] skylingfly commented on #49
suggest you add 'google()' in your android/build.gradle  ,it will work for you

[2018-04-04 13:35] pusherman commented on #49
Thanks.  The google() repo was added.

[2018-04-04 13:35] #49 closed

[2018-04-05 15:49] skylingfly opened #50 "node_modules\react-native-network-info\android\src\main\java\com\pusherman\networkinfo--- run gradlew assembleRelease to build APK error"
when you run gradlew assembleRelease to build APK, there will be an error as below:

node_modules\react-native-network-info\android\src\main\java\com\pusherman\networkinfo\RNNetworkInfoPackage.java:26: 错误: 方法不会覆盖或实现超类型的方法
    @Override

[2018-04-05 15:51] skylingfly commented on #50
you can commented code as below:
@Override
    public List<Class<? extends JavaScriptModule>> createJSModules() {
        return new ArrayList<>();
    }

[2018-04-07 00:01] sebirdman commented on #50
Yup, for this version we should not have this class: https://github.com/facebook/react-native/commit/ce6fb337a146e6f261f2afb564aa19363774a7a8

not sure why this got added back but it makes any update past 3.1.0 break android builds.

[2018-04-07 01:35] pusherman commented on #50
Thanks guys!  Just pushed out a new release that should resolve it.

[2018-04-07 01:35] #50 closed

[2018-04-07 04:04] pusherman commented on #47
we do have a `Podfile` included but I recommend using `react-native link`

[2018-04-07 04:04] #47 closed

[2018-04-10 13:21] MaheshNandam opened #51 "undefined is not a function reactNativeNetworkInfo2.default.getIPAddress"
react - 16.0.0
react-native - 0.50.4
react-native-network-info - 3.0.0

![capture _2018-04-10-18-49-24](https://user-images.githubusercontent.com/13198616/38559211-091d0ffe-3cf0-11e8-8ecb-55ebfb7a1c34.png)

Any idea how to solve this?

[2018-04-10 14:06] MaheshNandam commented on #51
Solved this issue by having the latest version.

[2018-04-10 14:07] #51 closed

[2018-04-13 04:04] fanlide opened #52 "China google……"
![tim 20180413120206](https://user-images.githubusercontent.com/20534139/38716310-967443da-3f12-11e8-9ad0-478994793d91.png)

[2018-04-13 14:18] pusherman commented on #52
what version of gradle are you on?  The latest version the library requires at gradle 3.

[2018-04-16 03:09] fanlide commented on #52
my gradle 3.3.I think so is China can't access Google

[2018-04-16 03:28] fanlide commented on #52
@appaaaa What version of gradle have you updated?

[2018-04-16 06:48] fanlide commented on #52
In China you need to modify the `node_modules/react-native-network-info/android/build.gradle`

[code]
**replace**

[code]

[2018-04-16 10:11] yangmengsen commented on #40
Under ios, "Cannot read property 'getIPAddress' of undefined" devices and react-native are the latest versions.

[2018-04-16 10:12] yangmengsen commented on #40
Under ios, "Cannot read property 'getIPAddress' of undefined" devices and react-native are the latest versions.

[2018-04-16 18:32] quocson1 opened #53 "error setup"
![image](https://user-images.githubusercontent.com/29052846/38828080-196ac9a2-41df-11e8-8026-80b918a92157.png)
use
    "react-native": "0.49.3",
    "react-native-network-info": "^3.2.2",

[2018-04-18 07:24] rusmichal commented on #53
BUMP use gradle 2.2.3

[2018-04-18 12:28] quocson1 commented on #53
@rusmichal  i use gradle 2.2.3
![image](https://user-images.githubusercontent.com/29052846/38931800-91f10c14-433e-11e8-9666-36be1223ca6a.png)
but still failed

[2018-04-18 12:33] pusherman commented on #53
The current version of the library (3.2.2) requires Gradle 3 or higher.  If you need to use Gradle 2 you'll need to use version 3.1.0.

The 3.2 upgrade should have been a 4.0 release since it's a breaking change.  I'll try to clean this up soon or at least update the readme.

[2018-04-30 16:07] Chatharaju commented on #40
I do have 3.2.2 installed and still having issues with android. iOS seems to be working fine. Think it has to do with the linking on android.

[2018-05-09 10:18] Bobozee commented on #40
Do not forget to link and then RE-BUILD the project!

[2018-05-14 09:10] Bobozee commented on #53
I just did remove google() and did change gradle version to 1.3.1 and all works fine.

[2018-05-31 15:00] psalmeight commented on #40
Had issues with `NetworkInfo.getIPAddress` not being recognized. Turns out that `react-native link react-native-network-info` did not work. According to their documentation, if `react-native link` fails, then link manually.

![image](https://user-images.githubusercontent.com/37855474/40790025-63c35b44-6526-11e8-82f6-fce11f23f818.png)

[2018-06-04 06:36] appaaaa commented on #53
classpath 'com.android.tools.build:gradle:3.1.0'
distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip

[2018-06-05 10:45] only1chi commented on #53
Hi all,

I'm having the same problem. I've tried to change my gradle plugin to 3.1.0, and also use distribution gradle-4.4-all.zip. This ends up causing problems with react-native-os package.

Here is my build.gradle file

[code]

[2018-06-06 13:46] appaaaa commented on #53
@natterstefan
I'm using this
android/build.gradle :
[code]

android/gradle/gradle-wrapper.properties
[code]

[2018-06-28 16:46] gustavomo opened #57 "error getipaddress in ios"
function return error, where execute in ios

[2018-07-04 04:52] williamcabrera4 commented on #57
The same happens to me trying with `getSSID`
[code]

[2018-07-05 14:52] pusherman commented on #57
@williamcabrera4 do you only have an issue with the `getSSID` or is `getIPAddress` not working for you as well?  Is this in the simulator or on an actual device?

[2018-07-05 14:53] pusherman commented on #57
@gustavomo in the simulator or on an actual device?

[2018-07-07 18:59] gustavomo commented on #57
on device

[2018-07-10 09:11] nickwanhere commented on #40
Try this https://github.com/pusherman/react-native-network-info/issues/53#issuecomment-395073927

[2018-07-10 09:47] nickwanhere opened #58 "Android should add this info for accessing valid SSID instead of unknown"
[code]

And add these to AndroidManifest.xml
[code]

[2018-07-11 07:29] NguyenJC5196 commented on #53
+1
Did anyone have a solution,
I try both react-native link and manual link, but it doesn't work

[2018-07-11 07:52] NguyenJC5196 commented on #53
Looks like, I am missing some necessary package in _android/build.gradle_
and upgrade to <strong>gradle-4-4</strong> , and everything works fine

here some screenshot, notice the modified and new line in those files

in <strong>your_app/android/build.gradle</strong>
![screen shot 2018-07-11 at 2 40 31 pm](https://user-images.githubusercontent.com/15035224/42557764-91c360a8-8519-11e8-8766-2e3064cd4

[2018-07-14 07:59] xmeow opened #59 "getBroadcast() could be null in android on some interfaces"
[code]
A possible fix would be add some check to broadcast address

[code]

[2018-07-26 09:05] qayyummdnoor commented on #40
is it solve yet? i also had done react native link and following all the steps but same error will show up.

[2018-08-01 06:56] goleador0322 commented on #52
OMG, you are god.
In Japan, the same solution is valid ......

[2018-08-01 07:24] Mscynol commented on #52
I have the same problem!!!!
![1](https://user-images.githubusercontent.com/13941582/43507197-fe1733de-959e-11e8-9da2-5b0fa7acf2af.png)
![2](https://user-images.githubusercontent.com/13941582/43507210-06548dd0-959f-11e8-9be7-956930d8bace.png)

[2018-08-01 07:44] Mscynol commented on #52
I have solved it ！

buildscript {
    repositories {
        jcenter()
        maven {
            url 'https://maven.google.com/'
            name 'Google'
        }
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
    }
}

repositories {
    jcenter()
    maven {
          url 'https://maven.google.com/'
          name 'Google'
    }
}

[2018-08-01 12:45] pusherman commented on #52
using  `google()`  is a shortcut to Google's maven repo and was introduced in Gradle 4.  If you are on Gradle 3 or below you will need to change it to the code above.

[2018-08-01 12:45] #52 closed

[2018-08-01 19:41] pedrosimao commented on #44
That's actually a feature I am looking for. @vjfuenzalida any success implementing it?

[2018-08-09 19:04] GabrielDuarteJr commented on #59
+1

[2018-08-14 01:10] Kerrin631 commented on #57
I am having the same issue. This works fine on android but it returns error on ios

[2018-08-14 01:19] Kerrin631 commented on #57
on the ios simulator that runs when i use react-native run-ios I get the error "Cannot read property 'getIPAddress' of undefined". When I run through Xcode this error does not show up but getIPAddress returns error. I am experiencing no issues through Android.

I user react-native link which installed properly on android but not on iOS so I manually followed the steps for the iOS installation.

Do

[2018-09-04 13:41] AharonDror opened #60 "no typescript support"
If you could please bump the version to introduce the typescript support to the package

[2018-09-04 14:32] pusherman commented on #60
[4.0.0 released](https://github.com/pusherman/react-native-network-info/releases/tag/v4.0.0)

[2018-09-04 14:32] #60 closed

[2018-09-27 03:58] yusuf987 opened #61 "getBSSID always return 02:00:00:00:00:00"
"react": "16.0.0-beta.5",
 "react-native": "0.49.3",
 "react-native-network-info": "^3.2.2",

some device start sending bssid 02:00:00:00:00:00 from every wifi/network

[2018-09-27 06:32] liufeiteng opened #62 "getSSID() and getBSSID() return "error" in ios 12"
upgrade ios to 12, getSSID() and getBSSID() always return "error"

[2018-09-27 06:40] iridiumiam opened #63 "急，急，急！升级了IOS 12后，getSSID()全部返回Error了"
如题，最近升级IOS 12后，发现调用getSSID()后，老是返回Error， 没有正常返回SSID列表。 但是在IOS 11.4下测试，则一切正常。

     请大神帮忙看看是什么原因呢？ 现在升级IOS 12的人越来越多了，可能会对APP的体验造成不好的影响。

     在此感谢！

[2018-09-27 06:43] liufeiteng commented on #63
一样一样，有解决方法告诉我

[2018-09-27 06:45] iridiumiam commented on #63
你也遇到这个问题啊，有没有什么思路啊？ 我怀疑是IOS 12新加了什么系统权限导致的，不知道是不是这个原因。

[2018-09-27 06:55] iridiumiam commented on #63
@pusherman 帮忙看看哦。多谢

[2018-09-27 07:03] liufeiteng commented on #62
@pusherman @indraastra @codlab
Can someone help me?

[2018-09-27 07:51] liufeiteng commented on #63
Xcode -> [Project Name] -> Targets -> [Target Name] -> Capabilities -> Access WiFi Information -> ON
解决了

[2018-09-27 07:52] liufeiteng commented on #62
resolve by
Xcode -> [Project Name] -> Targets -> [Target Name] -> Capabilities -> Access WiFi Information -> ON

[2018-10-23 15:58] skymax406 opened #65 "Could not find intellij-core.jar (com.android.tools.external.com-intellij:intellij-core:26.0.1)"
Hello i have this issue with ./gradlew clean command

`A problem occurred configuring project ':react-native-network-info'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/external/com-intellij/intellij-core/26.0.1/intellij-core-26.0.1.jar
`

An idea ?

[2018-10-24 09:08] tekmin commented on #65
the solution is to put `google()` before `jcenter()` in project/build.gradle https://stackoverflow.com/a/52952806

[2018-10-24 09:10] skymax406 commented on #65
Already do that, it's not working for me. I have test on another computer, cleaning gradle cache, ect ... no change

[2018-10-24 09:18] skymax406 commented on #65
@tekmin However, i've test to put `google()` before `jcenter() `in project/build.gradle but of react-native-network-info project, not of MY project, and it's working. Maybe a correction on the lib ?

[2018-10-24 13:55] martinffx commented on #65
I'm experiencing the exact same issue, putting the `jcenter()` before `google()` in `android/build.gradle` doesn't resolve the issue. But if I do the edit in `node_modules/react-native-network-info/android/build.gradle` the issue is resolved.

[2018-10-24 15:33] martinffx commented on #65
Submitted PR #66

[2018-10-24 16:11] tekmin commented on #65
@skymax406 yes it's should be the react-native-network-info project gradle as @martinffx PR

[2018-11-28 07:29] yusuf987 opened #68 "getBSSID is not working in android PIE"
i am using
 "react-native-network-info": "^3.2.2",
my react version is
 "react": "16.0.0-beta.5",
 "react-native": "0.49.3",

i am using react-native-network-info to get network BSSID
this was wasworking fine untill my user update thier Android OS to Android PIE

it always return 02:00:00:00:01:00 in android PIE devices

anyone has any idea about this

[2018-12-05 17:22] bbourdel commented on #68
Hello,
In fact, the plugins is not working on Android 9. The ssid is <unkwown ssid>,
Any ideas

[2018-12-05 19:11] pusherman commented on #68
I don't have a current android device to try to reproduce the error but have you tried resetting your network settings on your device?

[2018-12-06 07:00] echokk11 opened #69 "Anyway to get current network speed?"
such as '1024kbs' ?

[2018-12-09 11:40] shashfrankenstien commented on #43
Having the same issue

[2018-12-14 13:01] Nabellaleen opened #71 "Package is overweighted"
Hi,

After a npm install of your package, the directory size is 61M, mostly due to android build directory, embedding stuff which should not be commited

You should clean that, it's totally useless and horrible for users :)

[2018-12-17 12:19] fotonmoton commented on #59
Any news on this issue?
Get this error on Xiaomi Note 4X with Android 7:
![screenshot_2018-12-17-14-11-50-618_com mrcat_waiter](https://user-images.githubusercontent.com/7763084/50086772-ba4a4680-0206-11e9-9267-7de5c5a6cb67.png)

[2018-12-18 15:05] Nabellaleen commented on #71
Tips to resolve the problem : https://github.com/react-native-community/react-native-camera/issues/2000#issuecomment-447328777

[2018-12-19 09:28] Sanjeet1 opened #72 "does not return valid ip address, ip start from 10. instead of 192. Also getBroadcast() method throw error"

[2018-12-19 09:33] Sanjeet1 commented on #59
me too

[2018-12-20 13:48] HighSoftWare96 opened #73 "How to certain that the callback returns an error"
I was wondering if there is a correct way to know if there was an error retrieving the network data requested in the callback, I think this is not a good way to do that:
[code]

[2018-12-21 07:53] Sanjeet1 commented on #72
Too many error.

[2018-12-21 07:56] Sanjeet1 opened #74 "Too many error"
There is too many error . I think they are stop to provide any support.

[2019-01-08 12:56] shashfrankenstien commented on #43
PR submitted

[2019-01-08 21:43] pusherman commented on #43
Thanks @shashfrankenstien, I will cut a new release with your PR in it tomorrow.  I was working on adding it to the iOS side but I'll just keep it in Android for now.  I'm working on a bigger rewrite so I'll just release the iOS side of this when that is complete.

[2019-01-09 12:24] shashfrankenstien commented on #43
I haven't experienced the issue on iOS though. I'll keep an eye out for the rewrite

[2019-01-09 15:31] pusherman commented on #74
Hey @Sanjeet1, if you have a specific issue feel free to create a new issue with specifics.

[2019-01-09 15:31] #74 closed

[2019-01-09 15:39] pusherman commented on #72
Can you provide more info?

What OS are you using?
What IP are you getting?
What IP do you expect?

[2019-01-11 12:03] bbourdel commented on #68
Ok, I found some time to search this issue on Pie.
The fact is, since Android Pie, the permission 'android.permission.ACCESS_COARSE_LOCATION' is need to have access to Wifi information.

As, I'm trying to solved it using https://facebook.github.io/react-native/docs/permissionsandroid.
I will tell you as soon as finished to implem it.

Source : https://github.com/EspressifApp/EsptouchForAndroid/com

[2019-01-21 05:14] mohammadgarmroodi commented on #62
Enable Access Wifi Information just resolve my problem in debug mode,when release in store again get error,can someone help me?

[2019-01-21 15:06] mohammadgarmroodi commented on #62
thanksss,i did these steps and success when run on a device in debug mode
or release mode but when i release my ipa in store ,app get error again !
please help me ,2 days spending on this issue,thanks for spending time for
my issue

On Mon, Jan 21, 2019, 3:59 PM Corey Wilson <notifications@github.com> wrote:

[2019-01-22 23:36] nnitrx opened #75 "getIPAddress returns invalid IPv6 address in Android 7"
For later and earlier android versions this function seems to return the correct ip, however when dealing specifically with Android 7 this call will resolve with something like:

`fe80::8c95:f5ff:fe09:2a37%radio0`

The value after the '%' changes based on network connection whether it be through wifi or data plan.

[2019-01-24 02:32] PhuongNguyenETIT opened #76 "getSSID Android 8.1 'unknow'. Help me please!"

[2019-02-01 14:58] Joao-Leite commented on #62
Im getting the same problem on a Redmi Xiaomi Note 6

[2019-02-01 15:18] Joao-Leite commented on #68
I've tried to add ACCESS_COARSE_LOCATION permission but I still get an error for BSSID and SSID.
Did you have success with it?

[2019-02-02 07:02] hevili commented on #59
me too on huawei p10

[2019-02-07 13:09] erickmonteiro commented on #76
+1

[2019-02-12 05:55] dmwallace opened #79 "iOS requires Access WiFi Information enabled for getSSID to return anything other than 'error'"
iOS requires Access WiFi Information enabled for getSSID to return anything other than 'error'

Might want to mention this in the docs

[2019-02-12 18:08] schen3 opened #80 "Build issue: none of these files exist"
/node_modules/react-native-network-info/package.json` was successfully found. However, this package itself specifies a `main` module field that could not be resolved (`/Users/****/react-native-network-info/NetworkInfo.js`. Indeed, none of these files exist:

[2019-02-12 18:19] pusherman commented on #80
Not sure what you mean.  That file exists.

https://github.com/pusherman/react-native-network-info/blob/master/NetworkInfo.js

[2019-02-13 23:06] bartoszboruta opened #81 "Null is not an object (evaluating RNNetwr]k"

[2019-02-13 23:06] bartoszboruta opened #82 "Null is not an object (evaluating RNNetwr]k"

[2019-02-13 23:06] bartoszboruta opened #83 "Null is not an object (evaluating RNNetworkinfo.getIPAddress)"
![image](https://user-images.githubusercontent.com/17254885/52750419-78623480-2fec-11e9-9c09-92b12bc3e89f.png)
Hi,
I have a problem with use that package.
Linked without problems.

Dependencies:
"react-native": "0.58.3",
"react": "16.6.3",

App created with react-native init.

[2019-02-13 23:10] #81 closed

[2019-02-13 23:10] #82 closed

[2019-02-13 23:21] bartoszboruta opened #84 "Get default gateway possibility"
Hi,
Is there any chance to get default gateway of router?

[2019-02-14 02:45] JerryLinyong commented on #59
me too!!

[2019-02-18 19:21] stardothosting opened #85 "Cant assign result to variable"
I hope I'm not missing something but the following doesnt work 👍

`var local_ip = NetworkInfo.getIPV4Address(ipv4 => { return ipv4; });
alert(local_ip);
`

The local_ip variable is undefined when trying to access. Am I missing something?

[2019-02-20 16:23] westcode commented on #68
This does fix the issue. Make sure to add it the the manifest as well as check runtime using PermissionAndroid.

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

[2019-02-22 17:03] bbourdel commented on #68
Also, you have to set your localisation active on your smartphone (turn GPS on).

[2019-02-26 16:41] rye opened #87 "Published npm package has android build intermediates"
I noticed that this package is one of the largest in my installed `node_modules` bundle.  Investigating further, I found that one of the largest dirs is `react-native-network-info/android`, whose largest subdir is `android/build`.

I don't think those should be included, and in fact they are ignored by the `.gitignore`.  It seems that they have been published regardless, and I do not think this sh

[2019-02-26 16:50] rye commented on #87
(This could be because a `.npmignore` is present on the machine that is publishing.  The `.gitignore` has a rule to ignore `build/`, which in `npm`'s default behavior should be applied to `android/build`, but does not seem to be.)

[2019-02-27 22:03] #83 closed

[2019-03-08 17:33] russellmorgan opened #88 "feature request - signal strength"
_Sorry for making this an "issue" but I couldn't find any other way to make contact..._

Is there method to check the signal strength?
Something like this: https://developer.apple.com/documentation/networkextension/nehotspotnetwork/1618923-signalstrength

[2019-03-08 18:35] pusherman commented on #88
That is currently not available.  I haven't thought about adding that in but it's not a bad idea.  I'll leave this open and see if I can find a way to add it in for both iOS and Android.

[2019-03-08 22:02] russellmorgan commented on #88
Awesome, thanks for getting back to me. I'm currently trying to figure out how to get the strength for a prototype I'm working on and I'm hitting quite a road block. Any advice you have on the subject would be welcome, happy to fork and contribute to repo if I make a breakthrough.

[2019-03-08 23:02] pusherman commented on #88
I would start here: https://stackoverflow.com/questions/32970711/is-it-possible-to-get-wifi-signal-strength-in-ios-9

[2019-03-11 14:10] russellmorgan commented on #88
Thanks man! It's what I was afraid of, you need to go for a second approval with Apple to register the app as a hotspot helper. (not a problem with Android)

[2019-03-29 15:53] MarcoTerzoloGit commented on #76
Hi People, the issue is related to new Android 8.1 security patch. This means you should ask RUNTIME permission to user for FINE_LOCATION or COARSE_LOCATION to get the SSID

[2019-04-05 03:45] tmkst2607 commented on #58
Please add more a line bellow:
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
It's help

[2019-04-12 17:29] sean-obrien commented on #57
Did anyone find a solve for this?  I've updated the project's Build Capabilities to include Access Wifi Information as well - no change... getIPAddress returns "error"

[2019-04-16 19:39] AlessandroCavaglia opened #90 "Problem when tryna to create the apk"
hi, i'm new in the react programming so i might be missing something really stupid,
i installed the library with npm made a simple alert script to see the ssid and then wanted to create the apk to check if everything works, i used the
$ react-native bundle
and then the
$ ./gradlew assembleDebug
but it crashes and gives me this error:

FAILURE: Build failed with an exception.

* What went wrong:
Ex

[2019-04-24 23:27] melhotiby commented on #90
+ 1 on this

[2019-05-02 02:34] PhuongNguyenETIT commented on #76
Thank you. Can you guide me?

[2019-05-09 08:07] PhuongNguyenETIT commented on #76
Thank you, @MarcoTerzoloGit. I have done it.

[2019-05-09 08:07] #76 closed

[2019-05-13 09:29] oliviermtl commented on #90
This is a mismatch SDK version, you need to update your compileSdkVersion in /node_modules/react-native-network-info/android/build.gradle

android {
    compileSdkVersion 28

    defaultConfig {
        minSdkVersion 16
        targetSdkVersion 28
        versionCode 1
        versionName "1.0"
    }
    lintOptions {
        abortOnError false
    }
}

[2019-05-13 14:59] shynst commented on #59
+1
please fix!

[2019-05-16 17:04] asafosci opened #91 "when run from windows to a usb connected android phone, getssid always returns undefined"
i run react-native run-android from windows. i have an android phone connected to usb. the app runs but NetworkInfo.getSSID returns undefined ssid all the time. the phone is connected to a local wifi

[2019-05-17 06:58] MaShizhen commented on #91
do you get permission

[code]

[2019-05-17 07:16] MaShizhen opened #92 "react-native-network-info@4.0.1 :: SdkVersion 26 too old，can you publish a new version"
node_modules/react-native-network-info/android/build.gradle

[code]

hi,  ***SdkVersion*** is too old。can you publish a new version of npm?

[2019-05-17 13:08] pusherman commented on #92
What version are you looking for?  Would 28 work?

[code]

[2019-05-17 13:16] MaShizhen commented on #92
yes！28 is ok. thank you！

------------------ 原始邮件 ------------------
发件人: "Corey Wilson"<notifications@github.com>;
发送时间: 2019年5月17日(星期五) 晚上9:08
收件人: "pusherman/react-native-network-info"<react-native-network-info@noreply.github.com>;
抄送: "马士振"<2473872761@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [pusherman/react-native-network-info] react-native-network-info@4.0.1 :: SdkVersion 26 too

[2019-05-22 01:33] shuffledex commented on #83
what was the solution?  I have the same issue

[2019-05-23 20:26] inf3rnus commented on #83
I too am interested in the solution? Why do you keep closing issues without providing a solution? I get that you've helped us immensely by making this plugin in the first place, but that's pretty frustrating.

[2019-05-23 21:06] pusherman commented on #83
@inf3rnus - it's not me that's closing the issue.  You can see in the thread above that the user that created the issue closed it, then reopened it, then closed it again.

If you are having the same issue, please feel free to open a new issue and provide a little more info than this user did.  What OS, Android/iOS, how are you linking the library, example of your code, etc.

[2019-05-23 21:12] shuffledex commented on #83
I found the solution last day... We need to use the callback version instead await... If you look at *.java file, there are the old version methods with callback as required param.
The readme file is actually wrong, I don't know why but Android version is out of date.
Hope it works!

[2019-05-23 21:37] pusherman commented on #83
ah, yes, thanks @shuffledex -- the readme is what is currently in master and that version uses async/await.  I need to release a 5.0 version that will switch from using callbacks.  I'll get the readme updated so it shows how to use both the < 5 version and >=5 version.

Thank you!

[2019-05-25 09:07] MaShizhen commented on #92
hi，please publish a new version on npm
thank you

[2019-05-25 13:32] pusherman commented on #71
resolved in 5.0.0, thanks!

[2019-05-25 13:32] #71 closed

[2019-05-25 13:33] #92 closed

[2019-05-25 13:43] pusherman commented on #85
You can't return a value from an async call like that.  Version 5.0.0 uses promises, so the syntax would be different (check out the readme) but for the <5.0.0...

[code]

[2019-05-25 13:43] #85 closed

[2019-05-25 13:46] pusherman commented on #87
resolved in v5.0.0.  Thanks!

[2019-05-25 13:46] #87 closed

[2019-05-25 13:46] pusherman commented on #38
Available in 5.0.0

[2019-05-25 13:46] #38 closed

[2019-05-28 07:31] MaShizhen opened #93 "about androidx.annotation.NonNull"
Thank you very much for releasing the new package on NPM.

But now I have some other problems, [androidx.annotation.NonNull](https://github.com/pusherman/react-native-network-info/blob/master/android/src/main/java/com/pusherman/networkinfo/RNNetworkInfo.java#L6) throw out error

![image](https://user-images.githubusercontent.com/31983261/58458651-53896b80-815c-11e9-9bfb-c0f5208c3b8c.png)

I don't

[2019-05-28 09:28] Dror-Bar commented on #90
@oliviermtl
Thanks for the help!

[2019-05-30 15:29] pusherman commented on #93
I'm traveling for the next week so I don't have an android device to test out but if someone can verify removing that import fixes the issue for you guys I can deploy the fix.

[2019-05-30 15:47] GuillermoRivera commented on #93
Sure, give me a moment and I can test on my devices. Let you know how it goes. Thanks @pusherman

[2019-05-30 16:36] GuillermoRivera commented on #93
Hi, I already tested on my Android device and it worked.
I just removed this line from the code https://github.com/pusherman/react-native-network-info/blob/v5.0.0/android/src/main/java/com/pusherman/networkinfo/RNNetworkInfo.java#L6

[2019-05-30 17:11] pusherman commented on #93
Removed in v5.0.1

Thanks guys!

[2019-05-30 17:11] #93 closed

[2019-06-06 12:39] tony-ward commented on #72
hey, I seem to be getting this same issue.
Android 8.1 on Oppo Real Me.
IP address is 192.168.0.x as shown by mobile, but getIpV4Address is showing 10.x.x.x.
Should be 192.168.0.x

[2019-06-11 20:22] pjunior94 commented on #59
same error here, fix it guys pls.

[2019-06-25 09:41] PhuongNguyenETIT opened #95 "getSSID returns undefined in iphone 6 ios 12"

[2019-07-03 00:20] daniloamaralr commented on #95
Hi @PhuongNguyenETIT, did you turn on the "Allow Wifi Information" in your Xcode project?

[2019-07-03 01:52] PhuongNguyenETIT commented on #95
Thank you, @daniloamaralr .

[2019-07-03 01:52] #95 closed

[2019-07-08 09:49] oshimayoan commented on #58
Anyone care to add this to the `README`?

[2019-07-09 06:48] vedant17 opened #96 "What is the return type of the getSSID() method?"
I have used array.map as well as JSON.stringify to find out the contents but still I keep getting the following error.

Invariant Violation: Objects are not valid as a React child (found: object with keys {_40, _65, _55, _72}). If you meant to render a collection of children, use an array instead.
    in RCTView (at View.js:45)
    in View (at WifiList.js:29)
    in WifiList (at SceneView.js:9)

[2019-07-09 10:25] hosseinmd commented on #96
use this code

[code]

[2019-07-23 02:52] th0r0nd0r commented on #57
I'm experiencing this with:
RN `0.56.0`
iOS `12.2`
running on iPhone 6 simulator

I'm logging the functions just before invocation and they are defined. Then when I try to call them either with async/await or by logging the response in a `.then`, I get the error:
`TypeError: Cannot read property 'getIPV4Address' of undefined`.
I get this error for any function I try to invoke. I've confirmed linki

[2019-07-23 03:54] th0r0nd0r commented on #57
I'm also seeing this issue on a real device, iPhone 6 running iOS 12.3.1

[2019-07-23 19:47] th0r0nd0r commented on #57
update for anyone still searching:

even though the `react-native link react-native-network-info` registered as successful in the terminal, I still had to follow the manual iOS linking steps.

[2019-09-18 16:45] Rapsssito commented on #88
@russellmorgan you should check this: https://github.com/react-native-community/react-native-netinfo#netinfostate

[2019-09-19 15:24] russellmorgan commented on #88
@Rapsssito That is exactly what I needed, thanks so much for the link!

[2019-09-19 15:26] #88 closed

[2019-09-21 09:59] Rapsssito commented on #44
iOS and Android don't allow third-party apps to access this information due to security reasons.

[2019-09-22 10:38] Rapsssito commented on #72
The function `getIpV4Address` iterates through all **available** device interfaces and returns the last **cached** valid IP. If your mobile has been connected to the cellular network recently, that will be the IP resolved (Ex: 10.xxx...).

This is why I created a new function **`getWIFIIPV4Address`**, (Pull Request https://github.com/pusherman/react-native-network-info/pull/99) which is still wait

[2019-09-23 16:18] #72 closed

[2019-09-23 16:19] pusherman commented on #84
This feature was added in 5.2.0

[2019-09-23 16:19] #84 closed

[2019-09-23 16:20] Rapsssito opened #102 "[BUg]"

[2019-09-23 20:00] jedashford opened #103 "Build fails with 5.2.0 - Undefined symbols for architecture x86_64"
Issue below is with 5.2.0, but not with 5.1.0 when building on iOS. Looks like it might be related to the addition of getGatewayIPAddress

Undefined symbols for architecture x86_64:
  "_getdefaultgateway", referenced from:
      -[RNNetworkInfo getGatewayIPAddress:rejecter:] in libreact-native-network-info.a(RNNetworkInfo.o)
ld: symbol(s) not found for architecture x86_64
clang: error: linker comm

[2019-09-24 16:58] antonkulyk commented on #103
Experiencing the same problem. Looks like the problem has appeared in #98
@parrotmac maybe you have an idea on a fix?

[2019-09-25 08:42] JayChiuTW opened #105 "ios 13 Unable to get wifi ssid"
After the mobile phone has been updated to the first version, the SSID of the WIFI can't be obtained normally. Every time it is returned to Wi-Fi, how to solve the problem?

[2019-09-25 10:56] nik-garg commented on #105
You need to ask for user location for getting wifi-ssid in ios 13.
Use react native geolocation (https://facebook.github.io/react-native/docs/geolocation.html).
1. Add the permission in Info.plist ( key :  "NSLocationWhenInUseUsageDescription" )
2. Add a call for requesting user permission to access location ( function to call : geolocation.requestAuthorization() )

[2019-09-26 07:28] redwind commented on #105
it's work only on iphone 6s, ip 6splus, on ip7, wifi ssid still return nill althought location permission is Always. Anyone check this on ip 7 ? Thanks !

[2019-09-26 09:25] memelie commented on #105
Same problem on iPhone6S. I have added Geolocation and asked for permissions which is granted.

[2019-09-26 14:02] memelie commented on #105
Finally got it to work by updating iOS13 to the very last release :)

[2019-09-27 18:41] gabrielrra commented on #103
Having the same issue here also

[2019-09-29 07:37] JayChiuTW commented on #105
I did what you said. I successfully got SSID on the IOS13 system. Thank you very much.

[2019-09-29 07:38] JayChiuTW commented on #105
@nik-garg I did what you said. I successfully got SSID on the IOS13 system. Thank you very much.

[2019-09-29 08:37] Rapsssito opened #107 "Merging react-native-network-info with react-native-netinfo"
As commented here: https://github.com/react-native-community/react-native-netinfo/issues/52#issuecomment-527646754 by @mikehardy, these two libraries _seem like an API surface area duplication and potential to perhaps have multiple active maintainers in one repo?_

Is there any possibility of merging both repositories into one so we get the best of them both?

[2019-09-29 10:59] matt-oakes commented on #107
👋 I would be really happy to merge these two libraries together.

@pusherman Let me know if you would also be happy to collaborate and we can talk about how this would work in practice.

[2019-09-29 11:34] hosseinmd commented on #107
awsome merge
I would like to help you too

[2019-09-29 11:35] Rapsssito commented on #107
Yeah, me too!

[2019-09-29 11:44] hosseinmd commented on #107
@matt-oakes  please begin and tell us what to do

[2019-09-29 12:54] pusherman commented on #107
Hey @matt-oakes, I think merging the two may make sense. I'll shoot you an email using the email address from your website.  We can update this thread once we have a plan.

[2019-09-29 18:10] umutcetinkaya commented on #103
i have same problem. Does anyone have a solution?

[2019-09-30 01:35] daihieptn97 commented on #105
I did as you said and it doesn't run into the console.log function
[code]

Thanks you!

[2019-09-30 09:23] antonkulyk commented on #103
This pull request looks like a fix #106

[2019-09-30 18:29] SkyPeer commented on #103
Awesome!
thank you very much!

[2019-09-30 18:46] pusherman commented on #103
I just confirmed it does, will be releasing an update by EOD.

[2019-09-30 21:52] pusherman commented on #103
Should be fixed in 5.2.1.

[2019-09-30 21:52] #103 closed

[2019-10-09 07:07] dmwallace commented on #105
@daihieptn97 it looks like the NetworkInfo.getSSID function now returns a promise rather than taking a callback argument so your code should now be like:

`NetworkInfo.getSSID().then(ssid => {…})`

this caught me out too

[2019-10-09 14:41] ratman841 opened #108 "Android 9 always returns <unknown ssid>"
On a Android device with version 9.0.0, the function `NetworkInfo.getSSID()` always returns `<unknown ssid>`

The same code works without issues on a Android 8.x.x device

Is this a known bug?

[2019-10-10 07:13] daihieptn97 commented on #105
thanks you so much !

[2019-10-11 06:23] AppCodePush commented on #108
You can add
`<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />`
to `AndroidManifest.xml`,
and then you need to add
`PermissionsAndroid.request(PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION);` ，
maybe it can help you get correct ssid

[2019-10-11 06:25] ppdbxdawj commented on #108
You can add
`<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />`
to `AndroidManifest.xml`,
and then you need to add
`PermissionsAndroid.request(PermissionsAndroid.PERMISSIONS.ACCESS_FINE_LOCATION);` ，
maybe it can help you get correct ssid

[2019-10-11 06:36] iamcxa commented on #108
I can confirm this works. it may related to Android 9's changes, you will need to request  location permission to get wifi ssid.

[2019-10-17 09:43] waqaramjad opened #110 "Public IP not get"
i want to get my Public IPV4 but it give me private IPV4 ,
kindly add that feature ,
thanks

[2019-10-24 06:12] vibdheeraj opened #111 "getIPAddress return blank"
NetworkInfo.getIPAddress() return blank in iOS simulator.

NetworkInfo.getIPAddress().then(ipAddress => {
  console.log(ipAddress);
});

[2019-10-29 08:13] shengliZh commented on #105
Why ssid is undefined?

[2019-10-30 01:12] JayChiuTW commented on #105
@shengliZh Add the permission in Info.plist ( key : "NSLocationWhenInUseUsageDescription" )

[2019-10-30 02:05] shengliZh commented on #105
![image](https://user-images.githubusercontent.com/25652977/67823030-77cae900-fafc-11e9-8e6f-fe07d0ba1f31.png)
![image](https://user-images.githubusercontent.com/25652977/67823058-9204c700-fafc-11e9-858a-9190a4198c67.png)
![image](https://user-images.githubusercontent.com/25652977/67823070-a34dd380-fafc-11e9-9a97-18c403fca6bd.png)
I have added this permission, but still get ssid undefined, what sh

[2019-11-02 09:23] nik-garg commented on #105
This won't work in a virtual device. Test this in an actual device.

[2019-11-05 19:03] Rapsssito commented on #107
@pusherman or @matt-oakes any news?

[2019-11-06 03:25] joshbg2k commented on #105
I've added the permission in info.plist, granted authorization, and `getSSID()` returns undefined for me.

iPhone 7 Plus
iOS 13.2
React Native 0.55.4
React Native Network Info 5.2.1

[2019-11-06 13:27] memelie commented on #105
According to this post : https://stackoverflow.com/questions/58072820/how-to-get-current-network-information-for-a-given-network-interface-on-ios-13
You need to reboot the device. Worked for me.
Not sure it has to do with the package, more with iOS13 itself

[2019-11-06 17:54] joshbg2k commented on #105
@memelie that worked, thanks!

[2019-11-06 18:48] #105 closed

[2019-11-17 17:37] matt-oakes commented on #107
@pusherman I’ve not heard from you yet. Feel free to get in touch if you’re still interested in this

[2019-11-17 20:25] pusherman commented on #107
Hey @matt-oakes I sent an email to the email on your website (hello@mattoakes.net) on Oct 1st.  I'll resent it now.  Let me know if you don't get it or if there's a better email address to reach you at.

[2019-12-16 17:35] NightWing1998 commented on #108
Agreed
But with this you will also have to enable your location while using the application as only then will the data be loaded.

[2020-01-06 22:30] Adi2612 opened #112 "Support For IOS 13"
I am trying to get BSSID on IOS 13 but its returning undefined instead. As there is a change in APIs after IOS 13 release.
So, Is present react-native-network-info supports IOS 13 ?
What other permission do I need to support this ?

[2020-01-15 13:28] manoj-makkuboy commented on #112
This library uses CNCopyCurrentNetworkInfo API. So in IOS 13, you have to explicitly ask for Location permissions. After the user grants the location permission the getBSSID resolves to the required value.

[2020-01-16 17:21] Adi2612 commented on #112
thanks @manoj-makkuboy  , I tried this too but not working. :(

[2020-02-03 16:19] Rapsssito commented on #107
Ping.

[2020-02-03 16:20] Rapsssito commented on #107
@pusherman or @matt-oakes, any news?

[2020-02-03 16:28] pusherman commented on #107
@Rapsssito - I did talk with @matt-oakes about this.  The plan is to open up a PR on the react-native-netinfo side that merges in the functionality from this library.  I have not had time to get started on it yet but if anyone else here wants to give it a go-- that's the direction we will head.

[2020-02-03 16:35] Rapsssito commented on #107
@pusherman, glad to hear that! Could you open a WIP PR over `react-native-netinfo` and refer to this issue?

I will close the issue once the PR is created.

[2020-03-17 19:46] #40 closed

[2020-03-25 16:17] renato opened #113 "Wrong subnet on Android using Expo"
Hi,

I'm trying to get the subnet info programmatically but on two Android devices I was able to test they return `255.255.255.255` instead of the correct subnet (`255.255.255.0`, which is shown correctly on the device's Network details). I haven't found any similar problem reported here or anywhere else.

[code]

I've tried on iOS simulator and the right subnet is returned.

I'll probably stop us

[2020-03-26 17:29] #113 closed

[2020-03-27 09:34] syedamirali14 commented on #57
does anyone have solution for this?

[2020-03-27 10:10] syedamirali14 commented on #57
i get the solution

    NetworkInfo.getIPV4Address().then(ipAddress => {
      console.log('ip address', ipAddress);
      this._continuePayment(ipAddress);
    });

[2020-03-27 10:10] syedamirali14 commented on #111
use getIPV4Address instead it will work

[2020-07-28 09:12] steele-cjf commented on #33
hi， what solution？

[2020-08-29 04:12] xdlgj opened #114 "Cannot get SSID on IOS"
Cannot get SSID on  IOS,  xcode info: nehelper sent invalid result code [1] for Wi-Fi information request

[2020-09-02 19:39] ependergrass commented on #107
This would be a great help, we recently tried to implement react-native-network-info to try to get default gateway address but had to retreat to react-native-netinfo after running into some issues. Would be wonderful to have the best of both worlds!

[2020-11-10 11:46] jeromefurog opened #115 "Doesn't work on Expo"
Hi,

Is there a way to make this work in Expo?

[2021-12-10 08:25] MasterKenth opened #119 "IP uses locale-specific characters for digits in string (Android)"
Using `getIPV4Address` on Android with the device set to use a language that uses different characters than 0-9 to represent digits causes the returned string to also use those characters. Most notably are some Arabic languages that uses Arabian numerals.

For example, `10.0.2.16` is returned as  `١٠.٠.٢.١٦`.

This only seems to affect Android. The `toString` used likely is locale-aware.

While it

[2022-01-08 13:52] xlangit commented on #115
any solution for this one. I'm also using expo, but I just get
[Unhandled promise rejection: TypeError: null is not an object (evaluating 'RNNetworkInfo.getWIFIIPV4Address')]
at node_modules/react-native-network-info/NetworkInfo.js:24:38 in getIPV4Address

[2022-01-18 23:43] ebarahona commented on #115
try the community package that this library uses

[2022-06-22 13:03] boblitex commented on #57
no love for this library at all? did you all find alternatives? these same issues still persist here now 😞

looking to help here. is the Author(s) still active?

[2022-06-22 13:22] cwilsn commented on #57
No, this package is no longer maintained.  Check out https://github.com/react-native-netinfo/react-native-netinfo#netinfostate

[2022-06-22 13:22] #57 closed

[2022-06-22 14:08] boblitex commented on #57
okay, thank you @pusherman, already used that one before even finding this package. was trying to get a way to get the gateway IP address, not sure the net info package has that